@page 
@model Final.Project.API.Pages.ResetPasswordModel
@{
    Layout = null;
}

<h1> Reset Your Password </h1>
<form action="Reset_Password" method="post">

    <input type="hidden" name="token" value="@Request.Query["token"]  />
    <input type="hidden" name="email" value="@Request.Query["email"]  />


    <table>
        <tr>
            <td>
                New Password
            </td>
            <td>
                <input type="password" name="NewPassword" />
            </td>
        </tr>

        <tr>
            <td>
               Confirm Password
            </td>
            <td>
                <input type="password" name="ConfirmPassword" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Reset" />
            </td>
        </tr>
    </table>

</form>